body {
  font-family: 'Aleo', serif;
  min-height: 100vh;
}

html {
  height: 100%;
}



/* Tamanho mínimo do conteúdo */
footer {
  background-color: #1ac27f;
  color: #f28cc4;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;  
}

footer p {
  margin: 0;
  text-align: center;
  font-size: 12px;
}

/*logo*/
img {
  max-width: 100%;
  height: min-content;
}

/*logo*/

/* imagem e texto */
.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

.img-container {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 10px;
}

.img-container img {
  max-width: 70%;
  height: auto;
}

.rounded-image {
  border-radius: 20%;
}

.rounded-image {
  border-radius: 50%;
  position: initial;
  width: 330px;
  height: 150px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.text-container {
  flex: 0 0 50%;
  max-width: 50%;
  font-size: 20px;
}

.justify {
  text-align: justify;
}

/* imagem e texto */



/* icones contatos*/
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social-icons a {
  display: inline-block;
  margin-right: 25px;
  color: #000;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons i {
  font-size: 30px;
}

.social-icons .fab.fa-instagram {
  color: #1ac27f;
}

.social-icons .far.fa-envelope {
  color: #f28cc4;
}

.social-icons .fab.fa-whatsapp {
  color: #1ac27f;
}

/* icones contatos*/

/* menu */
