/* Tamanho mínimo do conteúdo */
footer {
    background-color: #f8f9fa;
    color: #495057;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    text-align: center;
    font-size: 12px;
}

/*logo*/
img {
    max-width: 100%;
    height:min-content;
}

/*logo*/

/* imagem e texto */
.container {
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 25px;
}

.img-container img {
    max-width: 70%;
    height: auto;
}

.text-container {
    flex: 0 0 50%;
    max-width: 50%;
}

/* imagem e texto */

/* icones contatos*/
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 25px;
    color: #000;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons i {
    font-size: 30px;
  }
  
  .social-icons .fab.fa-instagram {
    color: #0275d8;
  }
  
  .social-icons .far.fa-envelope {
    color: #0275d8;
  }
  
  .social-icons .fab.fa-whatsapp {
    color: #0275d8;
  }
/* icones contatos*/